@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    font-family:Montserrat ;
    box-sizing: border-box;
}
body{
    background: linear-gradient(rgb(56, 56, 55)50%,rgb(56, 56, 55)50%);
}

.main-container{
   
    height: auto;
    width: 100%;
    background: linear-gradient(rgb(56, 56, 55)50%,rgb(56, 56, 55)50%);
   
}
nav{
    width: 100%;
    position: fixed;
    top: 0;
    background: linear-gradient(rgb(56, 56, 55)50%,rgb(56, 56, 55)50%);
}
.nav{
    width: 90%;
    margin: 0px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
   padding: 20px 0px;
 
}
.list{
  display: flex;
 
}
.list li{
    font-size: 25px;
    font-weight: 500;
    color: #ffffff;
   margin: 0px 10px;
    padding: 10px 20px;
}
.list li:hover{
    border: 2px solid #ffff;
    background: rgb(65, 65, 65);
    border-radius: 15px;
    transition: 0.4s;
}
.btn{
    background-color: transparent;
    color: #ffff;
    font-size: 22px;
    height: 50px;
    width: 180px;
   border: 2px solid #000000;
   border-radius: 20px;
   cursor: pointer;
   font-weight: 600;
   transition: 0.5s;
 
}
.btn:hover{
    color: #000000;
    border: 3px solid #ffff;
    transform: translatey(-10px);
}


.middle{
    width: 90%;
    margin: 120px auto 0px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-bottom: 20px;
   
 
    color: #ffffff;
}
.middle h1{
   font-size: 71px;
   width: 50%;
   
}
.middle h2{
    font-size: 40px;
   font-weight: normal;
   width: 50%;
   
}
.lower{
    width: 100%;
    height: auto;
    height: 54vh;
}

@media screen and (max-width:1100px)  {
   .nav{
 flex-direction: column;
   }
  .middle{
    flex-direction: column;
    margin: 220px 0px 5px;
  }
  .middle h1 , .middle h2{
    width: 90%;
    margin: 0px auto;
  }
   
}

@media screen and (max-width:900px) {
     /* body{
        background-color: red;
    } */
    .middle{
       
        flex-direction: column;
        align-items: center;
    }
}   
  

.three-line{
    position: absolute;
    top: 20%;
    right: 5%;
    display: none;
}
  
@media screen and (max-width:840px){
    .middle{
        margin: 120px auto 50px;
    }
    .nav{
        align-items: flex-start;
    }
   .btn{
    position: absolute;
    top: 20%;
    right: 15%;
   }
   .three-line{
    display: inline;
   }
   .list{ 
    position: fixed;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    width: 100%;
    height: 0%;
    left: 0;
    background: linear-gradient(rgb(21, 21, 20)50%,rgb(21, 21, 20)50%);

   }
   .list a{
    
    text-align: center;
    display: none;
   }
   .list li{
    margin: 10px auto;
    font-size: 30px;
   }
   #check:checked ~ .list{
    top: 10%;
    transition: 0.5s;
    height: 50%;
    
   }
   #check:checked ~ .list a{
   
    transition: 0.5s;
   display: inline;
   transition-delay: 0s;
    
   }


}


@media screen and (max-width:530px){
 .btn{
    display: none;
 }
 .middle h1{
    width: 100%;
    font-size: 65px;
 }
 .middle h2{
    width: 100%;
 }
}



