@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    font-family:Montserrat ;
    box-sizing: border-box;
}

.main-container{
   
    height: auto;
    width: 100%;
    background: linear-gradient(rgb(91, 80, 69)50%,rgb(91, 80, 69)50%);
   
}
.nav{
    /* background-color: black; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
   padding: 40px 0px;
   flex-wrap: wrap;
}

.list{
  display: flex;
  flex-direction: row;
 
  justify-content: space-around;
  margin-right: 300px;
}
.list li{
    font-size: 25px;
    font-weight: 500;
    color: #ffffff;
    margin: 0px 15px;
    padding: 10px 20px;
}
.list li:hover{
    border: 2px solid #ffff;
    background-color: #000000;
    border-radius: 15px;
}
.btn{
    background-color: transparent;
    color: #ffff;
    font-size: 22px;
    height: 50px;
    width: 180px;
   border: 2px solid #000000;
   border-radius: 20px;
   cursor: pointer;
   font-weight: 600;
   transition: 0.5s;
    margin-right: 100px;
}
.btn:hover{
    color: #000000;
    border: 3px solid #ffff;
    transform: translatey(-10px);
}
.middle{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
   margin-top: 50px;
    color: #ffffff;
}
.middle h1{
   font-size: 71px;
   width: 700px;
}
.middle h2{
    font-size: 40px;
   font-weight: normal;
   width: 700px;
   padding-bottom: 30px;
}


.lower{
    width: 100%;
    height: auto;
    height: 54vh;
}

@media screen and (max-width:1300px) and (min-width:840px) {
     .nav{
        background-color: red;
    } 
    .nav{
        display: flex;
        justify-content: flex-start;
    }
    .list{
        margin-left: 200px;
        margin-top: -50px;
    }
    .list a li{
        font-size: 20px;
    }
  
    .btn{
      margin-left: 400px;
      margin-top: 30px
      
    }
    .middle h2{
        margin: 30px 0px;
        font-size: 30px;
    }
    .logo{
        margin-left: 30px;
    }
}

@media screen and (max-width:900px) {
     /* body{
        background-color: red;
    } */
    .middle{
        flex-direction: column;
        align-items: center;
    }
}   
   
@media screen and (max-width:1550px) {
   
   .btn{
    margin-top: 20px;
   }
   
}   
@media screen and (max-width:840px){
    /* .nav{
        background-color: red;
    } */
    .nav{
        flex-direction: column;
    }
    .logo{
        margin-left: 50px;
    }
    .list{
       margin-top: 50px;
        flex-direction: column;
        margin-left: 30px;
        
    }
    .btn{
        position: absolute;
        margin-left: 350px;
       margin-top: -420px;
    }
    .list li{
        width: 50%;
        text-align: center;
        margin: 10px 0px;
    }
    .middle {
        margin-top: -40px;
       
    }
   .middle h1 , .middle h2{
    width: 80%;
   }
}

@media screen and (max-width:1420px){
    .nav{
        background-color: aqua;
    }
    .middle h2{
        margin-top: 20px;

    }
}




